body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    margin: 10px auto;
    background-color: black;

}

table tr td {
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    font-size: 30px;
    text-align: center;

}

table tr td:hover{
    background:  rgb(49, 45, 45);
    cursor: pointer;
}

.but{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
}

.but:hover{
    color: green;
}

.text{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 60px;
    
}

.text1{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.square{
    color: rgb(60, 228, 60);
}